
<input type="hidden" id="key" value=<%=ENV["open_weather_key"]%>>

<div class="container-fluid">
  <div id="current-weather" class="col-lg-5">
    <p class="day-header">Today's Weather</p><br>
  </div>
  <div class="col-lg-1">
    <br><br>
  </div>

  <div class="col-lg-6">
    <div class="forecast-bars row">
      <div id="tomorrow">
        <p class="day-header">Tomorrow</p><br>
      </div>
      <br>
      <div id="plus-2">
        <p class="day-header"></p><br>
      </div>
      <br>
      <div id="plus-3">
        <p class="day-header"></p><br>
      </div>
      <br>
      <div id="plus-4">
        <p class="day-header"></p><br>
      </div>
      <br>
      <div id="plus-5">
        <p class="day-header"></p><br>
      </div>
    </div>
  </div>

  <!-- <div class="day-box day-box-hover" style="background-color:#cccccc;">
    <div class="caption">
      <div class="blur"></div>
      <div class="caption-text">
        <h3 style="border-bottom:2px solid white; padding:10px;">66&deg;</h3>
        <p>Partly cloudy @ 2:00 PM</p>
      </div>
    </div>
  </div> -->

</div>
