/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade';
 @import 'https://fonts.googleapis.com/css?family=Pacifico';
 @import 'https://fonts.googleapis.com/css?family=Amiko';


body {
  background-color: #CEEAE1;
}

// WeatherPop:NYC header bar

.page-header {
  font-family: 'Bungee Shade', cursive;
  font-family: 'Bungee Inline', cursive;
  background-color: white;
  font-size: 60px;
  padding-top: 2px;
  padding-left: 30px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;

  img {
    height: 50px;
    width: 50px;
  }

  a {
    color: rgb(51,51,51);
  }

  a:hover {
    text-decoration: none;
  }
}

.circle {
  border-radius: 50%;
  background-color: white;
}
