// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forecast-bars {
  height:100vh;
  display: inline-block;
}

.day-box {
  height:100px;
  width:100px;
  border: 5px solid black;
  margin: 10px;
  font-size: 2em;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  word-wrap: break-word;
  background-color: white;
}

.day-box p {
  font-size: 10px;
}

.day-header {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  border-bottom: 5px solid gray;
}

// .vertical-text {
// 	transform: rotate(90deg);
// 	transform-origin: left bottom 0;
//   font-size: 60px;
//   font-weight: bold;
//   float: left;
//   height: 500px;
// }

.circle {
  border-radius: 50%;
  background-color: white;
  border: 3px solid gray;
}

#current-weather {
  padding: 0px 20px 20px 20px;
  background-color: #EFF0B8;
  border: 5px solid black;
  height: 100%;
}

#weather {
  color: black;
  padding: 0 10px 5px 10px;
}

#time {
  background-color: gray;
  color:white;
  padding: 10px;
  font-size: 2em;
}
