// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//// styling for today's forecasts
.current-main {
  font-size: 2em;
  padding: 12px 10px 10px 10px;
}

.current-details {
  font-size: 1.2em;
}

#current-weather {
  margin-left: 10px;
  padding: 32px 20px 20px 20px;
  background-color: #EFF0B8;
  border: 5px solid black;
  height: 100%;
}

.current-weather-text {
  color: black;
  padding: 0 10px 5px 10px;
}

.current-time {
  background-color: gray;
  font-weight: bold;
  color:white;
  padding: 10px;
  font-size: 2em;
}

//// styling for beyond today's forecasts

// weekday header
.day-header {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  border-bottom: 5px solid gray;
}


.forecast-bars {
  display: inline-block;
  padding-left: 40px;
}

.day-box {
  height:120px;
  width:120px;
  margin: 10px;
  display: inline-block;

  background-color: white;
  border: 5px solid black;

  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  background-color: white;
}

.future-time {
  font-weight: bold;
  color: white;
  background-color: gray;
  line-height: -1;
  font-size: 16px;
}
